.splash-container {
    margin: 0 auto;
    height: calc(100vh - 5rem); /* set height to visible screen minus header */
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.splash-banner {
    display: grid;
    height: 100%;
    background-color: black;
}

.splash-text {
    z-index: 1;
    grid-area: 1 / -1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80%;

    color: white;
    text-align: center;
}

.splash-text h2 {
    font-size: 4rem;
}

.splash-text h3 {
    font-size: 2rem;
}

.splash-text button {
    margin: 1rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #001b40;
    box-shadow: 0.2rem 0.2rem #1869da;
    font-weight: 900;
    width: 10rem;
}

.splash-text button:active {
    background-color: #1869da;
    box-shadow: 0.2rem 0.2rem #001b40;
}


.splash-img {
    grid-area: 1 / -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 0;
    opacity: 0.5;
}

.buttonsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}