.PrivacyPolicy {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column nowrap;

}

.InnerContainer {
    width: 80%;
    
}

.title {
    padding: 2rem 0 2rem 0;
}

section {
    padding: 1rem 0 1rem 0;
}

.PrivacyPolicy p, 
.PrivacyPolicy h3, 
.PrivacyPolicy h4, 
.PrivacyPolicy li {
    padding-bottom: 1rem;
}
