@media only screen and (min-width: 500px) {
    .EventCard {
        display: flex;
        flex-flow: row wrap;

        flex-basis: 25rem;
        flex-grow: 1;
        flex-shrink: 1;
    }
    
}

.Whats-On-Container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 2rem 0;
    width: 100%;
    height: max-content;
}

.Whats-On-Container h2 {
    font-size: 3rem;
    text-align: center;
}

.Whats-On-Events {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: rgb(246, 246, 246);

}


.EventCard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 1rem;
    box-shadow: 0.5rem 0.5rem 0.1rem rgb(209, 208, 208);
    width: 100%;

    height: 25rem;
}


.Img-Container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.EventCard img {
    width: 100%;
    object-fit: cover;
}

.EventCard p, h3, button {
    margin: 0.5rem;
}

.EventCard button {
    width: 8rem;
}

.eventTitle {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.Event-With-Image {
    margin: 1rem;
}

.Event-Without-Image {
    margin: 1rem;
    text-align: center;
}


.Event-Details h3 {
    margin: 0;
}

.date {
    font-weight: 700;
    color: grey;
    letter-spacing: 0.2rem;
}

.tag-element {
    color: white;
    background-color: #7a3210;
    padding: 0.1rem 0.5rem;
    letter-spacing: 0.1rem;
    box-shadow: 0.2rem 0.2rem #ff9767;
}