.MenuPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
}

.navLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80vw;
    padding-top: 1rem;
}